obj/Debug/netcoreapp2.0/NetCorePlayground.pdb
bin/Debug/netcoreapp2.0/NetCorePlayground.dll
bin/Debug/netcoreapp2.0/NetCorePlayground.pdb
obj/Debug/netcoreapp2.0/NetCorePlayground.dll
obj/Debug/netcoreapp2.0/NetCorePlayground.csproj.FileListAbsolute.txt
bin/Debug/netcoreapp2.0/NetCorePlayground.dll
bin/Debug/netcoreapp2.0/NetCorePlayground.pdb
bin/Debug/netcoreapp2.0/NetCorePlayground.deps.json
bin/Debug/netcoreapp2.0/NetCorePlayground.runtimeconfig.json
bin/Debug/netcoreapp2.0/NetCorePlayground.runtimeconfig.dev.json
obj/Debug/netcoreapp2.0/NetCorePlayground.dll
obj/Debug/netcoreapp2.0/NetCorePlayground.pdb
obj/Debug/netcoreapp2.0/NetCorePlayground.AssemblyInfo.cs
obj/Debug/netcoreapp2.0/NetCorePlayground.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.0/NetCorePlayground.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.0/NetCorePlayground.dll
bin/Debug/netcoreapp2.0/NetCorePlayground.dll
bin/Debug/netcoreapp2.0/NetCorePlayground.pdb
bin/Debug/netcoreapp2.0/NetCorePlayground.deps.json
bin/Debug/netcoreapp2.0/NetCorePlayground.runtimeconfig.json
bin/Debug/netcoreapp2.0/NetCorePlayground.runtimeconfig.dev.json
obj/Debug/netcoreapp2.0/NetCorePlayground.pdb
obj/Debug/netcoreapp2.0/NetCorePlayground.AssemblyInfo.cs
obj/Debug/netcoreapp2.0/NetCorePlayground.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.0/NetCorePlayground.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.0/NetCorePlayground.csproj.FileListAbsolute.txt
